-f https://download.pytorch.org/whl/torch_stable.html
numpy<2.0.0
torch==2.2.2+cu118
torchvision==0.17.2+cu118
webdataset>=0.2.5
regex
ftfy
tqdm
pandas
braceexpand
huggingface_hub
transformers
timm>=0.9.5
fsspec
libauc
jsonargparse
