numpy<2.0.0
torch==2.1.0.post2+cxx11.abi
torchvision==0.16.0.post2+cxx11.abi
webdataset>=0.2.5
regex
ftfy
tqdm
pandas
braceexpand
huggingface_hub
transformers
timm>=0.9.5
fsspec
libauc==1.3.3
jsonargparse
intel-extension-for-pytorch==2.1.30+xpu
oneccl-bind-pt==2.1.300+xpu
